.card-item {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
img{
    border-radius: .8rem;
}

.itens{
    text-align: left;
    padding-top: 1rem;
    margin:0 2rem;   
}
.itens span:nth-child(1), .itens span:nth-child(2){
    color: var(--text-primary);
}
.itens span:nth-child(1){
    font:normal 500 1.6rem/1.6 'Roboto',sans-serif;
}

.itens span:nth-child(2){
    font:normal 600 1.6rem/1.6 'Roboto',sans-serif;
}
.itens span:nth-child(3){
    color:var(--text-secondary)
}

footer svg{
    opacity: 70%;
    cursor: pointer;
}
footer svg:hover{
    opacity:100%;
}